<div class="mb-3">
    <div class="mb-3">
        <label for="gf_type">Group forming method</label>
        <select class="form-control" type="number" name="gf_type">
            <option value="0">Random</option>
            <option value="1">Mixed scores</option>
            <option value="2">Same scores</option>
            <option value="3">Similarity grouping</option>
        </select>
        <i>Similarity grouping is based not only on scores, but also on motivation and preparation.</i>
    </div>
    <div class="mb-3">
        <label for="gf_nr_per_group">Number of students per group</label>
        <input class="form-control" type="number" name="gf_nr_per_group" min="1" max="{{seminar.nr_students}}">
    </div>
</div>