{% extends 'base.html' %}

{% block title %}
Add a slide
{% endblock %}

{% block content %}
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        <label class="form-label" for="title">{% if type == 0 %}Question{% else %}Title{% endif %}</label>
        {{ form.title(class="form-control") }}
    </div>

    {% if type == 0 %}
        {% include 'add_slide_answers.html' %}
    {% else %}
        {% include 'add_slide_text.html' %}
    {% endif %}

    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}