{% extends "base.html" %}

{% block title %}
InterAct for Teachers
{% endblock %}

{% block content %}
<h1>Welcome to InterAct</h1>
<div id="home-links">
    <div class="mb-2">
        <a class="btn btn-primary mr-2" href="{{ url_for('teachers.create') }}">Create a seminar</a>
        <a class="btn btn-primary" href="{{ url_for('teachers.demo') }}">Start demo</a>
    </div>
    </div>
    <h2>Existing seminars</h2>
    <div class="list-group list-group-horizontal">
        <div class="list-group-item list-group-item-action flex-fill"><b>Name</b></div>
        <div class="list-group-item list-group-item-action flex-fill"><b>Code</b></div>
        <div class="list-group-item list-group-item-action flex-fill"><b>Edit</b></div>
        <div class="list-group-item list-group-item-action flex-fill"><b>Enrollment</b></div>
        <div class="list-group-item list-group-item-action flex-fill"><b>Status</b></div>
        <div class="list-group-item list-group-item-action flex-fill"><b>Activation</b></div>
        <div class="list-group-item list-group-item-action flex-fill"></div>
    </div>
    {% for seminar in seminars %}
        <div class="list-group list-group-horizontal">
            <div class="list-group-item list-group-item-action flex-fill">{{seminar.name}}</div>
            <div class="list-group-item list-group-item-action flex-fill">{{seminar.code}}</div>
            <a class="list-group-item list-group-item-action flex-fill" href="{{ url_for('teachers.edit', id=seminar.id) }}">Manage slides</a>
            <a class="list-group-item list-group-item-action flex-fill" href="{{ url_for('teachers.enroll', id=seminar.id) }}">Enroll students</a>
            <div class="list-group-item list-group-item-action flex-fill">
                {{seminar.students|length}} / {{seminar.nr_students}} enrolled<br>{{seminar.nr_joined_students}} joined
            </div>
            {% if seminar.active %}
            <a class="list-group-item list-group-item-action flex-fill" href="{{ url_for('teachers.dashboard', id=seminar.id) }}">Open<br>Click for dashboard</a>
            {% else %}
            <a class="list-group-item list-group-item-action flex-fill btn btn-primary" href="{{ url_for('teachers.activate', id=seminar.id) }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                    <path d="M10.804 8 5 4.633v6.734zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696z"/>
                </svg>
            </a>
            {% endif %}
            <a class="list-group-item list-group-item-action flex-fill" href="{{ url_for('teachers.delete', id=seminar.id) }}">Delete</a>
        </div>
    {% endfor %}
</div>
{% endblock %}