{% extends 'base.html' %}

{% block title %}
Create new seminar
{% endblock %}

{% block content %}
<h1>Create new seminar</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.name.label(class="form-label") }} {{ form.name(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.nr_students.label(class="form-label") }} {{ form.nr_students(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}