{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
    {% if feedback %}
        <p>{{feedback}}</p>
    {% endif %}

    <h1>InterAct login</h1>

    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.username.label(class="form-label") }} {{ form.username(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.password.label(class="form-label") }} {{ form.password(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>

    <div class="mt-4">
        No teacher account yet? <a href="{{ url_for('auth.register') }}">Register here</a>
    </div>
{% endblock %}