{% extends 'base.html' %}

{% block title %}
Register
{% endblock %}

{% block content %}
    {% if feedback %}
        <p>{{feedback}}</p>
    {% endif %}

    <h1>Teacher registration</h1>

    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.username.label(class="form-label") }} {{ form.username(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.password.label(class="form-label") }} {{ form.password(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.pass_confirm.label(class="form-label") }} {{ form.pass_confirm(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}