{% extends "base.html" %}

{% block title %}
InterAct for Students
{% endblock %}

{% block content %}

<h1>{{ slide.title }} ({{slide.slide_order}}/{{nr_slides}})</h1>

<p>Please wait for all students to reach this slide and for the group forming process to start.
This page will reload automatically.</p>

<script>
    // Reload every 5 seconds
    // TODO: make a smarter solution using AJAX/websockets/whatever
    setTimeout(
    function() {
        window.location.reload(1);
    },
    5000,
);
</script>
{% endblock %}